@model XP_Scrum_Grupp2.Models.MeetingPeopleViewModel

<h2>Add People to meeting</h2>

@foreach (var item in Model.ApplicationUsers)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        @if (!Model.Meeting.Invited.Contains(item))
        {
            <td>
                @Html.ActionLink("Add Person", "AddPeople", new { person = item.Id, model = Model.Meeting }, new { id = "myLink" })
            </td>
        }
    </tr>
    <br />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#myLink").click(function (e) {

            e.preventDefault();
            $.ajax({

                url: $(this).attr("href"), // comma here instead of semicolon
                success: function () {
                    alert("Person added");  // or any other indication if you want to show
                }

            });

        });
    </script>

}