@model XP_Scrum_Grupp2.Models.Meeting

@{
    ViewBag.Title = "ChooseTimes";
}

<h2>ChooseTimes</h2>

@if (Model != null)
{
    foreach (var item in Model.Times)
    {
        @Html.DisplayFor(modelItem => item)
        <br />
    }
}

