<br /><br />
<div class="alert alert-success" style="max-width:20%;margin-left:40%;">
    <strong> Your vote has been registered! </strong> 
</div>

<button type="button" style="color:grey" class="btn btn-default">@Html.ActionLink("Return to received requests", "MeetingRequests",null, new { @style = "color: grey" })</button>