@model XP_Scrum_Grupp2.Models.ApplicationUser


<h2>Notification Settings</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group">
    @Html.Label("Notify me through email when theres a new post")
    <div class="col-md-10">
        @Html.CheckBoxFor(m => m.NewFormalPostsNotification)
        </div>
    </div>
<div class="form-group">
    <br />
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Change notification settings" class="btn btn-default" />
    </div>
</div>
    }
