@model XP_Scrum_Grupp2.Models.FormalBlog


@{
    ViewBag.Title = "SearchFiles";
}

<h2>Search Files</h2>

@using (Html.BeginForm())
{
   @Html.DropDownList("Year", Enumerable.Range(DateTime.Now.Year - 10, 11).Select(x => new SelectListItem { Text = x.ToString() }), "Year")
   @Html.DropDownList("Month", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Month")
    <label>Quarter</label>
    <input type="radio" name="YourRadioButton" value="Quarter"> <br />

    <input type="submit" value="Search" />
}
